
<% include ./header %>

<div class="login-page">
  
        <div class="form">
            
            <h5>Enter Tracking ID Below</h5>
          <form action="/getStatus" method="post" class="login-form">
            <input type="text" name="username" placeholder="tracking ID"/>
            <button type="submit">Get Shipping Status</button>
      
          </form>
        
        </div>
      </div>

      <% include ./footer %>