<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mail on the Move</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116838563-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-116838563-2');
  </script>
  <script type='text/javascript'>
    window.__lo_site_id = 71608;
    
    (function() {
    var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
    wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
      })();
    </script>

  </head>
  <body>
        <nav class="white">
                <div class="nav-wrapper">
                  <a href="#" class="brand-logo"><img src="https://mailonmove.com/wp-content/themes/mailonthemove/images/logo_small.png"></a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="brand-logo center" ><a class="thetxt" href="/customer">Shipping Tracking Portal</a></li>
              
                    <li><a class="txt" href="/customer">Tracking Page</a></li>
                    <li><a class="txt" href="/">Upload File</a></li>
                  
                  </ul>
                </div>
              </nav>
  
 