<!--
<% if (token) { %>
    <h2>I have a token!</h2>
    <script>
       var token = <%- "'"+JSON.stringify(token)+"'" %>;
       
       localStorage.setItem("token",token);           
    </script>
<% } %>
-->