<% include ./header %>


<div class="login-page">
  
    <div class="form">
        <% if(msg){ %>
          <p class="badmsg"> <%= msg %> </p>
        <% } %>
        <h5>File Upload Portal Register</h5>
      <form action="/register" method="post" class="login-form">
          
        <input type="text" name="username" placeholder="username"/>
        <input type="text" name="type" placeholder="type">
        <input type="password" name="password" placeholder="password"/>
        <input type="password" name="passwordconfirm" placeholder="confirm password"/>
        <button type="submit">Register</button>
        <p class="message">Don't need a new account? <a href="/">Back to Upload</a></p>
      </form>
    
    </div>
  </div>




<% include ./footer %>